body {
  margin: 0;
  padding: 0;
  background-color: beige;
  text-align: center;
}

  
header {
  font-size: 2em;
  margin: 30px;
}

footer {
  text-align: center;
  margin-top: 10px;

}
  
.calculator {
  display: inline-block;
  border: 5px solid red;
  align-content: center;
}

.result {
  display: flex;
  justify-content: right;
  padding: 10px;
  height: 50px;
  align-items: center;
}

.container {
  border-top: 5px solid green;
  display: flex;
  
}

.button {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  background-color: aqua;
  margin: 5px;
  align-items: center;
  border-radius: 10px;
}

.operators {
  display: flex;
  flex-direction: column;
}

.number-inputs {
  display: flex;
  flex-direction: column;

}

.wrap {
  display: flex;
}


.long-button {
  flex-basis: 112px;
}

.pressed {
  border: 1px solid red;
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;

}